@charset "UTF-8";

/**
 * chart css
 * @authors jiechengyang (2064320087@qq.com)
 * @date    2019-07-04 14:48:35
 * @version $Id$
 */
.ibox-title {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #ffffff;
    border-color: #e7eaec;
    -webkit-border-image: none;
    -o-border-image: none;
    border-image: none;
    border-style: solid solid none;
    border-width: 4px 0px 0;
    color: inherit;
    margin-bottom: 0;
    padding: 14px 15px 7px;
    min-height: 48px;
}

.text-muted {
    color: #888888;
}

.chat-discussion {
    background: #eee;
    padding: 15px;
    min-height: 400px;
    /*overflow-y: scroll;*/
    /*height: 400px;*/
    overflow-y: auto;
}
.chat-message {
    padding: 10px 20px;
}
.chat-users {
    overflow-y: auto;
    height: 400px;
}

.chat-avatar {
    white: 36px;
    height: 36px;
    float: left;
    margin-right: 10px;
}

.chat-user {
    padding: 8px 10px;
    border-bottom: 1px solid #e7eaec;
}

.chat-user-name {
    padding: 10px;
}

.chat-user a {
    color: inherit;
}

a {
    cursor: pointer;
}
.chat-message .message {
    background-color: #fff;
    border: 1px solid #e7eaec;
    text-align: left;
    display: block;
    padding: 10px 20px;
    position: relative;
    border-radius: 4px;
}
/*.chat-discussion .chat-message:nth-child(2n+1) .message-avatar {
    float: left;
    margin-right: 10px;
}
.chat-discussion .chat-message:nth-child(2n+1) .message {
    text-align: left;
    margin-left: 55px;
}

.chat-discussion .chat-message:nth-child(2n+1) .message-date {
    float: right;
}
.chat-discussion .chat-message:nth-child(2n) .message-avatar {
    float: right;
    margin-left: 10px;
}
.chat-discussion .chat-message:nth-child(2n) .message {
    text-align: right;
    margin-right: 55px;
}*/
.chat-discussion .chat-message:nth-child(n) .message-avatar {
    float: left;
    margin-right: 10px;
}
.chat-discussion .chat-message:nth-child(n) .message {
    text-align: left;
    margin-left: 55px;
}
.message-date {
    font-size: 10px;
    color: #888888;
}
.message-content {
    display: block;
}

.message-avatar {
    height: 48px;
    width: 48px;
    border: 1px solid #e7eaec;
    border-radius: 4px;
    margin-top: 1px;
}

label.required:after {
    content: " * ";
    color: red;
}

/****使用外链样式配置右键菜单*****/
.kinerMenuBox {
    width: 200px;
    background: #FEFEFE;
    border: solid 1px #444444;
    cursor: pointer;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 1px 1px 5px #000, -1px -1px 5px #fff;
    -webkit-box-shadow: 1px 1px 5px #000, -1px -1px 5px #fff;
    -moz-box-shadow: 1px 1px 5px #000, -1px -1px 5px #fff;
    -o-box-shadow: 1px 1px 5px #000, -1px -1px 5px #fff;
    font-size: 16px;
    position: absolute;
}

.kinerMenuBox .kinerMenuTitle {
    background: #DDDDDD;
    padding: 10px 5px;
    border-bottom: inset #444444 1px;
    cursor: default
}

.kinerMenuBox .kinerMenuTitle .kinerMenuTitleIcon {
    width: 30px;
    height: 30px
}

.kinerMenuBox .kinerMenuTitle .kinerMenuTitleCon {
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
    color: #444444;
    font-size: 18px;
    display: inline-block;
    vertical-align: top
}

.kinerMenuBox .kinerMenuItem {
    background: #FFF;
    padding: 5px 5px;
}

.kinerMenuBox .kinerMenuItem:hover {
    background: #CCC;
}

.kinerMenuBox .kinerMenuItem .kinerMenuItemIcon {
    display: inline-block;
    width: 30px;
    height: 30px
}

.kinerMenuBox .kinerMenuItem .kinerMenuItemCon {
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
    position: relative;
    color: #444444;
    font-size: 16px;
    display: inline-block;
    vertical-align: top
}

.kinerMenuBox .kinerSeparator {
    width: 100%;
    height: 1px;
    border-bottom: dashed 1px #444444;
    /*background: #444444*/
    border-left: none;
    border-right: none
}

.kinerMenuBox .kinerKeyMap {
    margin-right: 5px;
    right: 10px;
    position: absolute;
    color: #444444;
    height: 30px;
    line-height: 30px;
    display: inline-block;
}
.chat-msg-box {
    height: 430px;
    overflow: scroll;
}
.chat-input-box {
    position: static;
    /*height: 100px;*/
}
.item_emoji {
    line-height: 32px;
    margin-left: 5px;
}